@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Star Wars!</h1>
    <p>This will be a Star Wars fan site.</p>
</div>

<h1>Links</h1>
<p><a href="/Home/History">History</a></p>
<p><a href="/Stories">Stories</a></p>
<p><a href="/Characters">Characters info</a></p>
<p><a href="/Sources">Sources info</a></p>
<p><a href="/Home/Quiz">Quiz</a></p>