<h1>Information about characters and the general worlds</h1>

<h2>Links to Characters</h2>
<p><a href="/Characters/Anakin">Anakin Skywalker</a></p>
<p><a href="/Characters/Luke">Luke Skywalker</a></p>
<p><a href="/Home">Home</a></p>